@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --a:0;
}

body {
    font-family: 'roboto', sans-serif;
}

.body{
    background-color: black;
    color: white;
}


.left{
    width: 25vw;
    /* padding: 15px; */
}

.close{
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30px;
}

.right{
    width: 75vw;
}

.home ul li{
    width: 15px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.home{
    margin: 5px;
    padding: 10px;
}

.library{
    margin: 5px;
    padding: 10px;
    height: 80vh;
    position: relative;
}

.heading{
    display: flex;
    gap: 10px;
}

.heading img{
    width: 22px;
    filter: invert(1);
}

.footer{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 95%;
}

.footer a{
    color: grey;
    font-size: 10px;
}

.right
{
    margin: 20px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>*{
    padding: 15px;
}

.hamburgerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hamburger{
    height: 40px;
    width: 40px;
}

.spotifyPlaylist{
    padding: 10px;
}

.cardContainer{
    display: flex;
    margin: 20px;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 65vh;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card:hover{
    background-color: rgb(87, 87, 87);
    cursor: pointer;
    --a: 1;
}

.card img{
    width: 100%;
    height: 32vh;
    /* object-fit: contain; */
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 150px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
    fill: black;
}

.play polygon{
    transform: scale(1.6);
    transform-origin: center;
}

.buttons>*{
    margin: 0 10px;
}

.signupbtn{
    font-style: bold;
    background-color: rgb(34, 34, 34);
    color: rgb(82, 82, 82);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: 79px;
    font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 10px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 71%;
    min-height: 40px;
}

.seekbar{
    height: 4px;
    width: 97%;
    background:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    margin: 5px;
    cursor: pointer;
}

.playdata{
    display: flex;
    justify-content: space-between;
}

.songinfo{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    max-width: 35%;
    color: black;
}

.songtime{
    color: black;
    padding-right: 15px;
}

.timevolume{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    bottom: 9px;
    left: 0%;
}

.songbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    cursor: pointer;
}

.songbtns img{
    width: 30px;
}

.songList{
    height: 500px;
    overflow: auto;
    margin: 20px 0;
}

.songList ul{
    padding: 5px 0
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid white;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    width: 300px;
    cursor: pointer;
}

.info{
    width: 250px;
}

.playNow{
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;

}

.playNow span{
    padding: 5px;
    font-size: 12px;
}


@media (max-width: 1400px) {
    .container{
        height: 100vh;
    }
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        width: 370px;
        z-index: 1;
    }

    .right{
        width: 100vw;
    }
    .playbar{
        width: 90vw;
        bottom: 1px;
        height: 110px;
    }
    .seekbar{
        width: 88vw;
    }

    .cardContainer{
        justify-content: center;
        margin: 0;
    }

    .card{
        width: 90vw;
    }

    .playdata{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 65px;
    }

    .songbtns{
        width: 10px;
        bottom: 54px;
    }

    .songinfo, .songtime{
        max-width: auto;
    }

    .timevolume{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */

    }
}
