
*{
    margin: 0;
    padding: 0;
}
.border{
    border: 2px solid red;
}

.font{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 5px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.scroll{
    scrollbar-color: #222 #333;
    scrollbar-width: thin;
}